<!-- <div class="home">
  <div class="container">
      <app-header></app-header>
      <app-banner></app-banner>
  </div>
</div>

<div class="project">
  <div class="container">
      <app-images></app-images>
      <h1>{{name}}</h1>
      <div class="option">
          <input type="text" name="name" [(ngModel)]="name"/>
      </div>
  </div>
</div> -->

<!-- <div class="container">
  <button (click)="getProducts()">Get Products</button>
</div> -->

<!-- <div class="container mt-3">
  <div class="row">
    <div class="col-md-3" *ngFor="let post of posts" >
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" [src]="post.url" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">{{ post.title }}</h5>
          <p class="card-text">{{ post.body }}</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
  </div>
</div> -->
  <!-- <ul>
    <li *ngFor="let post of posts">
        <h5>{{ post.title }}</h5>
        <h5>{{ post.body }}</h5>
    </li>
  </ul> -->

<!-- <app-pbb></app-pbb> -->

<!-- <app-todo></app-todo> -->

<!-- <app-menu-app></app-menu-app> -->

<!-- <div class="app">
  <p>initialCount: {{ initialCount }}</p>
  <p>
    <button (click)="counting()" >Counting</button>
  </p>
  <app-counter [count]="initialCount"></app-counter>
</div>

--------------------------------------------------------------------

<h1>App Antrian</h1>
<app-antrian [antrian]="antrian"
(onAntrianBerubah)="onAntrianBerubah($event)"></app-antrian>


-------------------------------------------------------------------- -->


<!-- <h1>App Calculator</h1>
<app-calculator #calculator total="total"
(onTotal)="onTotal($event)"></app-calculator>
<p>Hasil: {{total}}</p>


-------------------------------------------------------------------- -->

<!-- <p>{{calculator.merkCalculator}}</p>
<button (click)="calculator.getNumberEasy()">Click</button> -->
