.content {
    margin-top: 120px;
    align-items:center;
}

.title {
    margin-top: 60px;
    margin-bottom: 20px;
    color: rgb(56, 169, 84);
    font-size: 20px;
}

.description {
    color: white;
    font-size: 17px;
}
