h1{
    text-align: center;
}

.image-container{
    padding-top: 20px;
    display: grid;
    gap: 20px;
    flex: 2;
    grid-template-columns: repeat(5,1fr);
    /* justify-content:flex-start;
    display: flex;
    flex-wrap: wrap; */
} 