<div class="row">
    <div class="left col">
        <div class="content-porto">
            <div class="title">
                <h1>DAFTAR PROJECT</h1>
            </div>
            <div class="description-porto">
                <p>
                    Daftar Project yang pernah dibuat
                </p>
                <div class="option">
                    <div (click)="tampilData($event)" class="button"><a >TOMBOL</a></div>
                </div>
            </div>
        </div>
    </div>
    <div class="right col">
        <div class="title">
            <h1 style="text-align: center;">PROJECT</h1>
        </div>
        <div class="image-container">
            <img class="image" src="./assets/images/1.png" alt="">
            <img class="image" src="./assets/images/2.png" alt="">
            <img class="image" src="./assets/images/3.png" alt="">
            <img class="image" src="./assets/images/4.png" alt="">
        </div>
    </div>
</div>